<!-- portfolio.component.html -->

<nav class="bg-gray-800 py-6 px-6 sticky top-0 z-50">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a href="#home" class="text-white text-xl font-semibold">Hamza Mushtaq</a>
    </div>
    <div>
      <ul class="flex text-white space-x-8">
        <li><a href="#home" class="hover:text-gray-300">Home</a></li>
        <li><a href="#about" class="hover:text-gray-300">About</a></li>
        <li><a href="#portfolio" class="hover:text-gray-300">Portfolio</a></li>
        <li><a href="#contact" class="hover:text-gray-300">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<section class="bg-gray-900 text-white py-40" id="home">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold mb-4">Welcome to My Portfolio</h1>
    <p class="text-lg">
      I'm a passionate developer ready to take on new challenges
    </p>
  </div>
</section>
<section class="grid place-items-center px-6 h-lvh" id="about">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-8 text-center">About Me</h2>
    <div
      class="flex flex-col md:flex-row items-center space-y-4 md:space-x-8 md:space-y-0"
    >
      <img
        src="assets/images/hamza-pic.jpg"
        alt="Profile Picture"
        class="rounded-full w-48 h-48 object-cover mx-auto md:mx-0"
      />
      <div class="text-lg">
        <p>
          Hi, I'm Hamza Mushtaq, a passionate software developer with expertise
          in Angular, React, Node.js, Vue.js, Web3, and Ethereum Smart
          Contracts. With a strong focus on securing a job that aligns with my
          skills and passion, I continuously strive to enhance my knowledge and
          expertise in the ever-evolving field of web development. Besides
          coding, I have a deep love for cricket and enjoy spending my free time
          playing matches with friends. I'm also an avid reader and constantly
          seek inspiration and knowledge from books across various genres. I'm
          fluent in English, Urdu, and German, enabling me to communicate
          effectively with diverse teams and clients around the globe. My goal
          is to leverage my skills and experience to contribute meaningfully to
          innovative projects and teams, creating impactful solutions that drive
          positive change in the digital world.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 grid place-items-center h-lvh" id="portfolio">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold mb-8 text-center mb-[100px]">
      Portfolio
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-6">
      <div class="bg-white shadow-md p-6 rounded-lg">
        <h3 class="text-xl font-semibold mb-2">2 Rare</h3>
        <p>
          Developed frontend components for an NFT marketplace platform.
          Implemented user interfaces for buying, selling, and auctioning NFTs.
          Collaborated closely with the design team to ensure seamless
          integration of UI/UX elements. Utilized Angular/React/Vue.js (choose
          whichever frameworks you used) to create dynamic and responsive user
          experiences. Ensured cross-browser compatibility and optimized
          performance for a smooth user experience. Worked closely with backend
          developers to integrate frontend functionalities with backend APIs.
        </p>
      </div>
      <div class="bg-white shadow-md p-6 rounded-lg">
        <h3 class="text-xl font-semibold mb-2">Icon marketplace</h3>
        <p>
          Developed the frontend application for an icon marketplace platform
          using Angular framework. Implemented role-based access control (RBAC)
          to manage user roles and permissions effectively. Designed and
          developed user interfaces for buying and selling icons, ensuring a
          seamless user experience. Implemented authentication and authorization
          mechanisms to control access to different parts of the application
          based on user roles. Created dashboards for different user roles such
          as buyers, sellers, and administrators, each providing relevant
          features and functionalities
        </p>
      </div>
      <div class="bg-white shadow-md p-6 rounded-lg">
        <h3 class="text-xl font-semibold mb-2">Hospital Management System</h3>
        <p>
          Led the frontend development efforts for a comprehensive hospital
          management system. Designed and developed user-friendly interfaces for
          various modules including patient management, appointment scheduling,
          billing, and inventory management. Implemented responsive design
          principles to ensure the application is accessible across different
          devices and screen sizes. Integrated interactive features such as
          drag-and-drop appointment scheduling, real-time updates for bed
          availability, and dynamic data visualization for medical records.
        </p>
      </div>
      <!-- Add more portfolio items as needed -->
    </div>
    <div class="text-center mt-20">
      <a
        href="assets/files/hamza-mushtaq-2024.pdf"
        download="Hamza_Mushtaq_CV.pdf"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Download CV
      </a>
    </div>
  </div>
</section>

<section class="py-16 bg-gray-800 text-white" id="contact">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-8">Contact Me</h2>
    <p class="text-lg">
      Have a project in mind or want to collaborate? Feel free to reach out!
    </p>
    <a
      [href]="'mailto:' + emailAddress"
      class="inline-block bg-white text-gray-800 py-2 px-6 mt-4 rounded-full hover:bg-gray-300 hover:text-gray-900"
      >Contact</a
    >
  </div>
</section>

<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto text-center">
    &copy; 2024 hamza mushtaq. All rights reserved.
  </div>
</footer>
